# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


node_modules/

# Gatsby files
.cache/

public
.idea

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode

.DS_Store

# dotenv environment variable files
.env
.env.development

*.log
yarn.lock
gatsby-node.old.js

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache