.App {
  display: flex;
  font-family: sans-serif;
  background: magenta;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
}

.cell {
  width: 100%;
  text-align: center;
  color: yellow;
  padding: 2em;
}
