.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cell {
  text-align: center;
  background-color: yellow;
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em;
  transition: font-size 2s, background 1s, border 0.5s;
}

.cell:hover {
  font-size: 4em;
  background-color: magenta;
}
